@import "tailwindcss";

:root {
  --background: #fff9f4;
  --foreground: #363231;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jakarta: var(--font-plus-jakarta-sans);
  --font-instrument: var(--font-instrument-serif);
  --font-playfair: var(--font-playfair-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff9f4;
    --foreground: #363231;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}
